<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-8">
        <p>项目组：</p>
        <h1 class="title is-3"><%= @team.name %></h1>
        <hr/>
        <h2 class="subtitle">项目组成员</h2>
        <div class="columns is-multiline">
          <% @team.users.each do |user| %>
            <div class="column is-4">
              <div class="border-light border-radius-3 pa2">
                <div class="columns">
                  <div class="column is-3">
                    <%= gravatar_image_tag(user.email.gsub('spam','mdeering'), alt: user.name, class: 'image is-48x48',size: 48) %>

                  </div>
                  <div class="column is-9">
                    <h3 class="is-3 fw6 f4"><%= user.name %></h3>
                    <p><%= user.email %></p>
                    <p><%= verbose_date(user.created_at) %></p>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="column is-4">
        <p>项目</p>
        <h1 class="title is-3">
          活动的项目
        </h1>
        <hr/>

      </div>
    </div>
    <div class="utility-buttons">
      <%= link_to 'Edit', edit_team_path(@team), class:'button' %>
      <%= link_to 'Back', teams_path, class:'button' %>
    </div>
  </div>
</section>