<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-9">
        <h1 class="title is-2">
          <%=  @project.name.html_safe %>
        </h1>
        <h2 class="subtitle is-4 has-text-weight-light">
          <span class="icon is-small has-text-gray-lighter">
            <i class="fas fa-users"></i>

          </span>&nbsp; &nbsp;
          <%= link_to @project.team.name.html_safe, @project.team %>
        </h2>
        <div class="level">
          <div class="level-left">
            <%= @project.user.name %>创建于<%= verbose_date @project.created_at %>&nbsp;/&nbsp;<%= time_ago_in_words(@project.updated_at) %>前修改过
          </div>
          <div class="level-right">
            <div class="buttons">
              <%= link_to '修改项目', edit_project_path(@project), class:'button' %>
              <%= link_to '删除项目', @project, method:'delete',data:{confirm: "确定删除吗"}, class: 'button is-danger is-outlined' %>
            </div>
          </div>
        </div>
        <hr>
        <div class="content">
          <%=  @project.description.html_safe %>
        </div>

          <%= link_to 'Edit', edit_project_path(@project) %> |
          <%= link_to 'Back', projects_path %>

      </div>


    </div>



  </div>
</section>

